<div  style="height: 93vh;">
    <div class="background">
        <br><br><br><br><br><br><br><br>
    </div>
    <div class=" container-fluid" >
        <div class="container">
            <div class="row"> 
                <img class="prof col-7 col-sm-2" style="margin: auto;"   src=" https://cdn.pixabay.com/photo/2015/06/19/21/24/the-road-815297__340.jpg" alt="">
                <div class="col-10 col-md-8 m-auto">
                    <h2>Name</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt consectetur eum aliquid fugit maxime et reprehenderit possimus! Dolore error quaerat nemo dolor veritatis sed, laborum tempora et ad beatae pariatur!</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-2 m-auto">
                <p><mat-icon>phone</mat-icon> <span style="padding-left: 10%; ">9876543210</span> </p>
                <p><mat-icon>email</mat-icon><span style="padding-left: 10%;">2@gmail.com</span></p>
            </div>
            <div class="col-md-1"></div>
            <mat-card class="bg col-10 col-md-4 m-auto">
    
                aopkgpl;
            </mat-card>
            <div class="col-10 col-md-1"><br><br></div>
            <mat-card class="bg2 col-10 col-md-3 m-auto  ">
    
                aopkgpl;
            </mat-card>
        </div>
    </div>
</div>