<div class="row">
    <mat-card  class="col-11   m-5      "  style="min-height: 90vh;border-radius: 12px; " *ngIf="!isLoading">     
        <h1>User Details</h1>
        <div *ngIf=" !user.kycverified ;else verified">
            <button class="btn btn-danger" (click)="reject()"   style="float: right; "> Reject</button>
            <button   class="btn  btn-success" (click)="accept()"   style="float: right; "> Approve</button>
            
        </div>
        <ng-template  #verified>
          <button *ngIf=" user.blocked "  class="btn  btn-success" (click)="activate()"   style="float: right; "> Activate</button>
          <button *ngIf=" !user.blocked " class="btn btn-danger" (click)="deactivate()"   style="float: right; "> Deactivate</button>

        </ng-template>
        <br><br> 
        <img [src]="user.display_pic" height="100px" style="border-radius: 50%;" width="100px" alt="display_pic">
        <p>{{user.name}}</p>
        <p>{{user.email}}</p>
        
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs  ">
          <mat-tab label="Personal Details">
            <button class="  m-2 " mat-icon-button (click)=" edit=!edit"   style="float: right; "> <mat-icon>edit</mat-icon></button>
            <!-- <div >
                <p>{{user.name}}</p>
                <p>{{user.email}}</p>
                <p>current address: {{user.current_address}} </p>
                <p>contact:  {{user.contact}}</p>
                <p>Short Description:  {{user.short_profile_description}}</p>
                <p>gender:  {{user.gender}}</p>
          
            </div > -->
            <div class="row p-0" >
                <div class="col-10 p-0 col-md-8 m-auto "  >
                    <br><br>
                <mat-form-field  appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput name="name" maxlength="200" minlength="4"  [(ngModel)]="user.name" [disabled]=" edit" 
                     type="text" placeholder="User Name"    #nameInput="ngModel" >
                    <mat-error  *ngIf="nameInput.invalid">Please enter a valid user name.</mat-error>
                  </mat-form-field>
                  <mat-form-field  appearance="outline"><mat-label>Email</mat-label>
                    <input matInput name="email"  maxlength="320" minlength="6"   [(ngModel)]="user.email"[disabled]=" edit" 
                    type="email" placeholder="E-Mail"  [email]="true" #emailInput="ngModel" email>
                    <mat-error *ngIf="emailInput.invalid" >Please enter a valid email.</mat-error>
                  </mat-form-field> 
                  <mat-form-field  appearance="outline"><mat-label>Phone Number</mat-label>
                    <input matInput    maxlength="12" name="phone"  [(ngModel)]="user.contact" [disabled]=" edit" 
                     minlength="10"   type="number" placeholder="Phone number"   #numberInput="ngModel" number>
                    <mat-error  *ngIf="numberInput.invalid">Please enter a valid phone number.</mat-error>
                  </mat-form-field> 
      
       
                  <mat-form-field  appearance="outline"><mat-label>Description</mat-label>
                    <textarea matInput name="description"   maxlength="200" minlength="4" [disabled]=" edit"  [(ngModel)]="user.short_profile_description"
                      type="text" placeholder="Short Description"  #dInput="ngModel" ></textarea>
                    <mat-error  *ngIf="dInput.invalid">Please enter a Short Description.</mat-error>
                  </mat-form-field>  
                  <mat-form-field  appearance="outline"><mat-label>Address</mat-label>
                    <textarea matInput name="address" ngModel  maxlength="200" minlength="4" [disabled]=" edit"   [(ngModel)]="user.current_address"
                      type="text" placeholder="Address" #addInput="ngModel" ></textarea>
                    <mat-error  *ngIf="addInput.invalid">Please enter Address.</mat-error>
                  </mat-form-field> 
                  <mat-form-field   appearance="outline" style="width: 50%;">
                    <mat-label>Gender</mat-label>
                    <mat-select name="gender"  [(ngModel)]="user.gender"   #GenderInput="ngModel" [disabled]=" edit"  required>
                      
                      <mat-option value="Male">Male</mat-option>
                      <mat-option value="Female">Female</mat-option>
                    </mat-select>
                    <mat-error *ngIf="GenderInput.invalid">Please select a Gender.</mat-error>
                  </mat-form-field><br>
            </div>
        </div>
 
          </mat-tab>

 
 
          <mat-tab label="   Courses "> 
            
          </mat-tab>

          <mat-tab label="KYC Documents "> 
            kyc <br>
            <img [src]="user.kyc.aadhar_card_image" height="500px" width="500px" alt="">
            <img [src]="user.kyc.id_card_image" height="500px" width="500px" alt=""><br>
 
          </mat-tab>




        </mat-tab-group>
 
    </mat-card> 
</div>