<div style="overflow-x: hidden;">
     
    <br>
       <div class="row"  > 
           <mat-card class="col-10 col-md-8 ml-5 ml-md-5 mr-2  " style="height: 87vh;border-radius: 12px;">
               <h2 class="page-title">Settings</h2>
               <p>Comming Soon</p>
           </mat-card>
           <mat-card  class="col-10 col-md-3 mt-5 mt-md-0 "  style="height: 87vh;border-radius: 12px;">     
                <div class="row">
                    <img class="col-6 ml-auto mr-auto" src="../../../assets/teacher.PNG"  style="border-radius: 50%;  " alt="">

                </div>       
                <!-- <h2 style="text-align: center;">{{details.name}}</h2>
                <h2 style="text-align: center;">{{details.email}}</h2>
                <h2 style="text-align: center;">{{details.contact}} </h2> -->
            </mat-card> 
       </div>
       <br>
 
</div>