<br><br><br><br>
<h2 style="text-align: center;">Change Password</h2>
<div class="container" style="height: 95vh;">
  <mat-card class="bg col-md-6" >
    <form [formGroup]="secondFormGroup"> 
      <mat-form-field>
        <mat-label>Current Password</mat-label>
        <input matInput formControlName="oPassword" placeholder="password"
               required>
      </mat-form-field>
      <br>
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input matInput formControlName="password" placeholder="password"
                 required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" placeholder="confirm Password"
                   required>
          </mat-form-field>
        <br><div> 
          <button mat-button    (click)="onSubmit()">Submit</button>
        </div>
      </form>
  </mat-card>
</div>


 