<!-- <mat-toolbar  color="primary"  class="t ">
  
  <span >
    <a mat-button routerLink="/" routerLinkActive="active">Namaste Guru</a>
  </span>
  <div class="dis">
    <span style="margin-left: 10vw;">
      <a mat-button  routerLink="/student/mycourses" routerLinkActive="active">My Courses</a>
    </span>
    <span>
      <a mat-button  routerLink="/student/mycalender" routerLinkActive="active">My Calender</a>
    </span>
    <span>
      <a mat-button  routerLink="/student" routerLinkActive="active">Study Material</a>
    </span>
    <span>
      <a mat-button  routerLink="/student" routerLinkActive="active">Enroled Courses</a>
    </span>
  </div>
  <span class="example-fill-remaining-space"></span>
  <div class="dis">
    <div style="margin-right: 10vw;">
      <button mat-button [matMenuTriggerFor]="menu">Sai Kiran</button>
      <mat-menu #menu="matMenu">
        <button routerLink="/student/profile" mat-menu-item>My Account</button>
        <button mat-menu-item>My Enrollments</button>
        <button mat-menu-item>Change Password</button>
        <button mat-menu-item>My Wallet</button>
        <button mat-menu-item (click)="logout.emit(true)" >Logout</button>
      </mat-menu>
    </div>
  </div>
  <button class="smallscreen" mat-button (click)="open.emit(true)">
    <mat-icon>list</mat-icon>
  </button>
</mat-toolbar> 
<br><br><br>
     -->