.bg{
  background-image: linear-gradient(#ffffff ,  rgba(255, 255, 255  ) );
  width: inherit  ;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 250px;
  text-align: center;
  border-radius: 15px;
  margin: auto;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}
.header {
  position: relative;
  text-align: center;
  background: linear-gradient(#039BE5 0% , #B2EBF2 100%);
  color: white;
}
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
.inner-header {
  height: 35vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 45vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 50px;
  max-height: 150px; 

}
.content {
  position: relative;
  height: 40vh;
  text-align: center;
  background-color: white;
} 
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
