<!-- <div >
  <mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer style="background-color: #ff9d2f;color: aliceblue;"  class="drawer" #drawer mode="over" position="end">
  
      <button 
        mat-button 
        style="position: absolute; top: 0px; right: 0px;" 
        (click)="drawer.toggle()">     <mat-icon >clear</mat-icon> 
      </button>
      <span>
        <a mat-button  routerLink="/student" routerLinkActive="active">student</a>
      </span><br>
      <span>
        <a mat-button  routerLink="/student/mycourses" routerLinkActive="active">My Courses</a>
      </span><br>
      <span>
        <a mat-button  routerLink="/student/mycalender" routerLinkActive="active">My Calender</a>
      </span><br>
      <span>  
        <a mat-button  routerLink="/student" routerLinkActive="active">Study Material</a>
      </span><br>
      <span>
        <a mat-button  routerLink="/student" routerLinkActive="active">Enrol Course</a>
      </span><br>
      <span>
        <a mat-button   (click)="logout()">logout</a>
      </span><br> 
    </mat-drawer>
    <mat-drawer-content>
      <app-navbar      (open)="drawer.toggle()" (logout)="logout()"></app-navbar>
        <router-outlet></router-outlet>
        <br><br><br><br><br>
        <app-footer ></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
</div> -->

<mat-toolbar color="primary" style="background-image: linear-gradient(-29deg, #0036ff 0%, #aeacff 100%) !important;color: black;" class="example-toolbar">
  <button mat-icon-button class="a"   (click)="open()"><mat-icon>menu</mat-icon></button>
  <span  >
    <a   routerLink="/student/dashboard"  >
      <img src="https://firebasestorage.googleapis.com/v0/b/homemade-de936.appspot.com/o/namastegurus.png?alt=media&token=d1695749-12c1-43f9-937f-38cc931ba848"
       alt="" style="width: 150px;   height: 73px; ">

     </a>
  </span> 
    <span class="nav-item b" >
      <a   class="nav-link m-2 menu-item"  routerLink="/student/dashboard"  routerLinkActive="active" >
        Dashboard
       </a>
    </span>
    <span  class="nav-item b">
      <a  class="nav-link m-2 menu-item"   routerLinkActive="active"     routerLink="/student/cart" >
        Cart
       </a>
    </span>
    <span  class="nav-item b">
      <a  class="nav-link m-2 menu-item"   routerLinkActive="active"     routerLink="/student/enrollcourse"  >
        Enrollment Course
       </a>
    </span> 
    <span  class="nav-item b">
      <a  class="nav-link m-2 menu-item"   routerLinkActive="active"    routerLink="/student/mycalender" >
        My Calender
       </a>
    </span> 
    <span  class="nav-item b">
      <a  class="nav-link m-2 menu-item"   routerLinkActive="active"    routerLink="/student/help"  >
        Help Center
       </a>
    </span> 
    <span  class="nav-item b">
      <a  class="nav-link m-2 menu-item"  routerLinkActive="active"    routerLink="/student/settings"  >
        Settings
       </a>
    </span>  
  <span class="example-fill-remaining-space"></span>
  <button mat-button [matMenuTriggerFor]="menu"><span class="hi">{{name}}</span><mat-icon>keyboard_arrow_down</mat-icon> 
    <img width="30vw" [src]="dp" alt=""> </button>
      <mat-menu #menu="matMenu">
        <button routerLink="/student/settings" mat-menu-item>My Account</button>
        <button mat-menu-item  routerLink="/faculty/mycourses">My Courses</button>
        <button  routerLink="/student/changepassword" mat-menu-item>Change Password</button>
        <button mat-menu-item>My Wallet</button>
        <button mat-menu-item (click)="logout()" >Logout</button>
      </mat-menu>
</mat-toolbar>
<mat-sidenav-container  style="background-color:   #F0F0F7!important;" autosize>
  <mat-sidenav #sidenav class="example-sidenav" [mode]="mode" [opened]="isOpened" 
  (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list>
      <!-- <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <mat-icon class="menu-button"
         [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>  -->
      <br><br> 
      <mat-list-item  class="parent " routerLink="/student/dashboard"  routerLinkActive="active">
        <span class="full-width mr-5" *ngIf="isExpanded || isShowing" (click)=" Toggle() ">Dashboard</span>
        <mat-icon mat-list-icon>dashboard</mat-icon>     
      </mat-list-item> 
      <mat-list-item  class="parent "  routerLinkActive="active"  (click)=" Toggle() "  routerLink="/student/cart">
        <span class="full-width mr-5" *ngIf="isExpanded || isShowing"> Cart</span>
        <mat-icon mat-list-icon>add_shopping_cart</mat-icon>     
      </mat-list-item>
      <mat-list-item  class="parent "  routerLinkActive="active"  (click)=" Toggle() "  routerLink="/student/enrollcourse">
        <span class="full-width mr-5" *ngIf="isExpanded || isShowing"> Enrollment Course</span>
        <mat-icon mat-list-icon>library_add</mat-icon>     
      </mat-list-item>
      <mat-list-item  class="parent " routerLinkActive="active" (click)=" Toggle() "  routerLink="/student/mycalender">
        <span class="full-width mr-5" *ngIf="isExpanded || isShowing"   >My Calender</span>
        <mat-icon mat-list-icon>date_range</mat-icon>     
      </mat-list-item>
      <mat-list-item  class="parent "  routerLinkActive="active" (click)=" Toggle() " routerLink="/student/help">
        <span class="full-width mr-5" *ngIf="isExpanded || isShowing">Help Center</span>
        <mat-icon mat-list-icon>live_help</mat-icon>     
      </mat-list-item>
      <mat-list-item  class="parent "  routerLinkActive="active"  (click)=" Toggle() " routerLink="/student/settings">
        <span class="full-width mr-5" *ngIf="isExpanded || isShowing">Settings</span>
        <mat-icon mat-list-icon>settings</mat-icon>     
      </mat-list-item>
      <!-- <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="...">Submenu Item 1</a>
        <a mat-list-item href="...">Submenu Item 2</a>
        <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
          <mat-list-item>SubSubmenu Item 1</mat-list-item>
          <mat-list-item>SubSubmenu Item 2</mat-list-item>
        </div> 
      </div>-->
    </mat-nav-list>
    <mat-nav-list>
  </mat-nav-list>
  </mat-sidenav>
  
  <router-outlet></router-outlet>
    
  <!-- <div class=" setting_wrap"  (click)="open()" > 
    <mat-icon *ngIf="!isOpened">keyboard_arrow_right</mat-icon>
    <mat-icon *ngIf="isOpened">keyboard_arrow_left</mat-icon>
</div> -->
  <!-- <app-footer ></app-footer>   -->
 
</mat-sidenav-container>

    