mat-form-field {
    width: 100%;
    border-radius: 5% !important;
  }
  
  mat-spinner {
    margin: auto;
  }
  
.e{
  line-height: 10px;
}
.container{
  padding: 5vh  30vw;
}

.b{
  padding-bottom: 50vh ;
  
  background-size: cover;
  overflow: hidden;
}
.b:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #343a40;
  opacity: .9;
  border-bottom-right-radius: 0px;
}
div.animate p , h1{
  margin: 5%; 
  color: #ffffff;
}