.bg{
    background-image: linear-gradient(#ffffff, #ffffff);
    width: inherit  ;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    border-radius: 15px;
    margin: auto;
}

.mat-elevation-z8 {
    box-shadow:  none !important
}.mat-table thead,    mat-header-row,   [mat-header-row] {
    background-color: rgba(121, 121, 113, 0.219);
}
.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline .mat-form-field-outline-end {
  border-radius:  0 !important;
}
.page-title:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
     /* This will center the border. */
    width: 10%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 6px solid rgba(3, 94, 230, 0.52) ; /* This creates the border. Replace black with whatever color you want. */
    border-radius: 3px;
}table {
    width: 100%;
  }
  td, th {
    width: 25%;
  }
  