<!-- <div class="waves"  >
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M0.00,49.99 C204.51,-75.89 386.79,182.66 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgba(3, 94, 230, 0.52) ;"></path>
</svg>
</div> -->
<br><br><br>
<div   style=" background: linear-gradient(rgba(3, 94, 230, 0.52) 0% ,rgba(3, 94, 230, 0.52) 100%);">
<br><br>
    <div class="container pb-5">
      <h1 style="text-align: center;">Get In Touch</h1>
        <div class="row p-0 ">
            <div class="col-10  p-0 col-md-5 m-auto">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet recusandae illo laboriosam sapiente ea libero impedit
                     voluptatibus repellendus maiores et, numquam, magni dolore sed cupiditate soluta! Quia atque ipsam mollitia.</p>
            </div> <div class="col-md-1"></div>
            <div class="col-10 col-md-2 m-auto"> 
                <h2>Address</h2> 
                <mat-icon> location_on</mat-icon><p>Lorem ipsum dolor sit, amet c agnam hic sed nam nostrum! Ratione tempora rerum quisquam ab.</p>
            </div>
            <div class="col-10 p-0  col-md-4 m-auto">
                <h2>Contact Info</h2>
                  <mat-icon >phone</mat-icon> 
                  <div style="transform: translate(30px,-25px);" >9876543210 </div> 
                  <mat-icon>email</mat-icon>
                  <div   style="transform: translate(30px,-25px);">2@gmail.com</div >             
            </div>
        </div>
    </div>
</div>