
.page-title:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
     /* This will center the border. */
    width: 10%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 6px solid rgba(3, 94, 230, 0.52) ; /* This creates the border. Replace black with whatever color you want. */
    border-radius: 3px;
  }


  