<section id="features-wrap" class="features_wrap p-t-b-80">
    <div class="container">
        <div class="row">

            <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold">Why do students and parents choose NamasteGurus?</h2>
                <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p> -->

            </div>

            <div class="col-md-12 col-lg-6 col-sm-12 mb-4 mb-lg-0">
                <div class="row">


                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-clock-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium"> Expert Tutors</h4>
                                
                                <p>Tutors with good Knowledge base</p>
                                <p>Not just Tutors, but Mentors</p>
                                <p>Responsible for your Progress</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-shopping-bag-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Online Tutoring </h4>
                                <p>Interactive online platform between teacher and students</p>
                                <p>Attendance tracking</p>
                                <p> Assessments / Unit tests </p>
                                <p>Academic Calendar </p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-lock-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Learn Anytime, Anywhere</h4>
                                <p>  Pick your own Date, Time & Topics</p>
                                <p>Learn from the Safety of your Home  </p>
                                <p>Learn even when away from Home  </p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                    <div class="col-md-6 col-sm-6 mb-4 mb-lg-0 mb-md-0">
                        <div class="card">

                            <div class="card-body pt-4 pb-4 text-center">
                                <i class="eva eva-people-outline text-36"></i>
                                <h4 class="card-title pt-2 font-weight-medium">Assessments</h4>
                                <p>Personalized Workplans  </p>
                                <p> Regular Feedback</p>

                            </div>
                        </div>
                    </div>
                    <!-- end of left card col-6 -->
                </div>

            </div>
            <!-- end of col-6 -->
            <div class="col-md-12 col-sm-12 col-lg-5 offset-lg-1 d-flex align-items-center">

                <img src="./assets/images/landing/svg/features2.svg" class="img-responsive w-100" alt="">
            </div>

        </div>
    </div>
</section>
